<div class="list-items">
  <div>
    <mat-button-toggle-group class="filter-toolbar" [value]="imageFilter + ''" name="fontStyle" aria-label="List filter">
      <mat-button-toggle value="0" (click)="imageFilter = 0">All</mat-button-toggle>
      <mat-button-toggle value="1" (click)="imageFilter = 1">Favorite</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" orientation="horizontal">
    <div
      *cdkVirtualFor="let item of Images | async;let index = index"
      (click)="onClicked(index, item.id)"
      class="example-item" [style.display]="(Favorites | async )[item.id] || imageFilter === 0 ? 'block' : 'none'">
      <i
        (click)="removeFromFavorite(item.id)"
        *ngIf="(Favorites | async )[item.id]"
        class="favorite">&#11088;</i>
      <img [src]="item.download_url" width="100" height="100">
    </div>
  </cdk-virtual-scroll-viewport>
</div>
