::ng-deep{
  app-dashboard{
    height: 100%;
    .main-container{
      height: 100%;
      display: flex;
      flex-direction: row;
      padding: 10px;
      box-sizing: border-box;
      gap: 5px;
      flex-wrap: wrap;
      width: 100%;
      .image-list-app{
        width: 30%;
        max-width: 250px;
        height: 100%;
      }
      .image-info-app {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 60%;
        height: 100%;
      }
    }
  }
}
