.image-info-container {
  overflow: hidden;height: 100%;width: 100%;display: flex;flex-direction: column;
}
img.selected-image{
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
.top-header{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-content: center;
  font-style: normal;
  flex-wrap: wrap;
  height: 50px;
  .image-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-style: normal;
    flex-wrap: wrap;
    i {
      font-style: normal;
      margin: 10px;
    }
    .split {
      border: 1px solid #0000002e;
      margin: 0 15px;
    }
  }
}

.image-preview {
  display: flex;
  overflow: hidden;
  height: calc(100% - 50px);
  width: 100%;
  flex-direction: column;
}
